<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        .bg-cover {
            background: url("{{ url_for('static', filename='images/home.jpg') }}"); 
            /* background-color: #808080;
      background-blend-mode: luminosity; */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .text-shadow {
            text-shadow: 1px 1px 1px #000000;
        }
    </style>
</head>
<body>

    <div class="min-vh-100 d-flex flex-column bg-cover" >

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand text-white fw-bold" href="#"><i class="fa-solid fa-bowl-food"></i> RECIPE ROVER</a>
              <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars text-white"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-white text-decoration-underline link-offset-3 fw-bold active link-underline-light" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="{{ url_for('login') }}">Login</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="{{ url_for('register') }}">Register</a>
                  </li>  
                </ul> 
              </div>
            </div>
          </nav>

          <div class="container">

              <h1 class="fw-light display-4 text-white mt-5 text-shadow">RECIPE ROVER</h1>
              <div class="row">
                <div class="col-md-5">
                    <div class="card bg-dark my-3">
                      <div class="card-body p-5">
                        <h2 class="text-white fw-light">Flavors that Unite, <span class="fst-italic">Recipes</span> <br> that Inspire</h2>
                        <h5 class="mt-4 text-white">
                            Bringing together a world of tastes, <span class="fst-italic">Recipe Rover</span> is your culinary passport to exploration and inspiration
                        </h5>
                        <button class="btn btn-primary shadow-none mt-4 fw-bold">GET STARTED</button>
                      </div>
                    </div> 
                </div>
              </div>

            </div>



          <div class="flex-grow-1"></div> 

          <footer class="bg-secondary text-uppercase text-white text-center border-top border-dark">
            RECIPE ROVER © <span id="year"></span>
            </footer>

    </div> 

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
        $(function() {  
            $("#year").html(new Date().getFullYear());
        })
    </script>
</body>
</html>