<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe - {{ recipe[2] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <style>
    .bg-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  </style>
</head>

<body>

  <div class="min-vh-100 d-flex flex-column bg-cover">

    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="#"><i class="fa-solid fa-bowl-food"></i> RECIPE ROVER</a>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa-solid fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" aria-current="page" href="{{ url_for('search') }}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="{{ url_for('myrecipes') }}">My Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="{{ url_for('upload') }}">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid bg-dark">

      <div class="card border-0 bg-dark mt-5 mb-5">
        <div class="card-body d-flex justify-content-between align-items-center p-3">
          <h2 class="text-white fw-bold">{{ recipe[2] }}</h2>
          <form id="searchform" action="/searchpage" method="GET">
            <div class="input-group gap-3">
              <input type="text" class="form-control shadow-none" placeholder="Search for recipes" name="search"
                id="search">
              <button class="btn btn-primary shadow-none" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>

    </div>


    <div class="container bg-white my-4">


      <div class="row align-items-start">

        <div class="col-md-8">

          <h3 class="my-4 text-dark fw-bold">Ingredients</h3>

          <div id="insdiv">

            {% for ingredient_line in recipe[7].split('\n') %}
            {% if ingredient_line != '' %}
            <p>{{ ingredient_line }}</p>
            {% endif %}
            {% endfor %}

          </div>

          <div class="w-100 my-5"></div>

          <h3 class="my-4 text-dark fw-bold">Instructions</h3>

          {% for instruction_line in recipe[6].split('\n') %}
          <p>{{ instruction_line }}</p>
          {% endfor %}

        </div>

        <div class="col-md-4 text-center">
          Category : {{recipe[4]}}<br><br>
          {% for word in recipe[5].split(',') %}
          <button class="btn btn-sm btn-primary rounded-1" type="button">{{ word }}</button>
          {% endfor %}
          <img src="{{recipe[3]}}" alt="" class="img-fluid img-thumbnail mt-3" style="object-fit: cover; ">
          <div class="d-flex align-items-center gap-3 mt-4">
            <label for="people">Serves: </label>
            <input type="number" name="people" id="people" class="form-control form-control-sm shadow-none border-primary" value="1"  onkeypress="return (event.charCode >= 49 && event.charCode <= 57) || event.charCode == 8" min="1"  oninput="updateIngredients()">
          </div>
        </div>
      </div>



      <a type="button" href="{{ url_for('fork', recipe=recipe[1]) }}"
        class="btn btn-warning shadow-sm rounded-pill floating-btn">Fork Recipe</a>


    </div>



    <div class="flex-grow-1"></div>

    <footer class="bg-secondary text-uppercase text-white text-center border-top border-dark">
      RECIPE ROVER © <span id="year"></span>
    </footer>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

  <script>
    $(function () {
      $("#year").html(new Date().getFullYear());

      $("#searchform").on("submit", function (e) {
        debugger;

        var search = $("#search").val().trim()

        var testemail = new RegExp("[a-z0-9]+@[a-z]+\.[a-z]{2,3}");
        var testphone = new RegExp("^[6-9][0-9]{9}$");
        var testaadhar = new RegExp("^[2-9]{1}[0-9]{3}[0-9]{4}[0-9]{4}$");
        var testusn = new RegExp("(?=(.*[a-zA-Z])(?=.*[0-9]))");


        if (search != "") {
          $("#search").removeClass("is-invalid");
        } else {
          $("#search").addClass("is-invalid");
          e.preventDefault();
        }

      })

      $("input,textarea,select").on("keydown change", function () {
        $(this).removeClass("is-invalid")
      })

    })
  </script>

<script>
  var previousPeople = 1; 
  
  function updateIngredients() {
      var people = parseInt(document.getElementById('people').value);
      var paragraphs = document.getElementById('insdiv').getElementsByTagName('p');
      
      var adjustmentFactor = people / previousPeople;  
      
      for (var i = 0; i < paragraphs.length; i++) {
          var text = paragraphs[i].innerText.trim();
          var regex = /^(\d+)\s(.*)/;
          var match = text.match(regex);
          
          if (match !== null) {
              var quantity = parseInt(match[1]);
              var ingredient = match[2];
              paragraphs[i].innerText = Math.round(quantity * adjustmentFactor) + ' ' + ingredient;
          }
      }
      
      previousPeople = people;  
  }
</script>

</body>

</html>